<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <variable name="logDirectory" value="C:\StaffLogs"/>
  <targets>
    <target name="ErrorsTarget"
            fileName="${logDirectory}/errors.log"
            xsi:type="File"
            encoding="utf-8"
            layout="${longdate} | ${message}${newline}${exception:innerFormat=ToString:maxInnerExceptionLevel=5:format=ToString}"
            archiveEvery="Day"
            archiveNumbering ="Date"
            archiveFileName="${logDirectory}/archive/errors.{#}.log"
            maxArchiveFiles="7"/>
  </targets>

  <rules>
    <logger name="Errors" minlevel="Trace" writeTo="ErrorsTarget" />
  </rules>
</nlog>